# Core Django
Django==5.2.15
djangorestframework>=3.15,<4
djangorestframework-simplejwt>=5.3,<6

# Auth
django-allauth>=65.0,<66
dj-rest-auth>=7.0,<8

# API helpers
django-cors-headers>=4.3,<5
django-filter>=24.0,<26

# HTTP proxy to Langflow
requests>=2.31,<3

# Env vars
python-dotenv>=1.0,<2

# Production server
gunicorn>=21.0,<27

#criptography
cryptography>=49.0,<50

# IA / Langflow
langflow==1.9.5
chromadb==1.1.0
langchain==1.2.18
langchain-community==0.4.1
langchain-chroma==0.2.6

